@using Microsoft.AspNetCore.Identity
@using System.Security.Principal
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@{
    string userRole = "Default"; // Default role

    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            userRole = "Admin"; // Set role to Admin if user is an admin
        }
        else if (User.IsInRole("Member") || User.IsInRole("User"))
        {
            userRole = "User"; // Set role to User if user is a member or user
        }
    }
}

<vc:nav-bar-types user="@userRole"></vc:nav-bar-types>

@* <div class="greeting @(ViewBag.TimeOfDay.ToLower())">
@if (User.IsInRole("Admin"))
{
    <h1>Good @ViewBag.TimeOfDay, Admin</h1>
}
else if (User.IsInRole("Member"))
{
    <h1>Good @ViewBag.TimeOfDay, @ViewBag.UserName.Split(" ")[0]</h1>
}
else
{
    <h1>Good @ViewBag.TimeOfDay</h1>
}
</div>
 *@

<div class="image-cont">
    <div class="image-wrapper">
        <img src="img/3-space (1).jpg" id="astro" alt="3 peeps" />
     
    
        <a asp-area="" asp-controller="Home" asp-action="ProductsPage">SHOP WITH US</a>
      
    </div>
</div>


<vc:footer-types></vc:footer-types>