@using Microsoft.AspNetCore.Identity
@using System.Security.Principal
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@{
    string userRole = "Default"; // Default role

    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            userRole = "Admin"; // Set role to Admin if user is an admin
        }
        else if (User.IsInRole("Member") || User.IsInRole("User"))
        {
            userRole = "User"; // Set role to User if user is a member or user
        }
    }
}

<vc:nav-bar-types user="@userRole"></vc:nav-bar-types>


<div class="image-cont">
    <div class="image-wrapper">
        <img src="img/3-space (1).jpg" id="astro" alt="3 peeps" />
        <a asp-area="" asp-controller="Home" asp-action="ProductsPage">SHOP WITH US</a>
    </div>
</div>
<div id="mostHighlyRatedProducts" class="product-container">
    <h1 style="text-align: center;">Most Highly Rated Products</h1>
    <div class="product-row">
        @for (int i = 0; i < ViewBag.MostHighlyRatedProducts.Count; i += 4)
        {
            <div class="product-box">
                <div class="image-container">
                    <img src="@ViewBag.MostHighlyRatedProducts[i]" />
                </div>
                <div class="product-details">
                    <p class="product-name">@ViewBag.MostHighlyRatedProducts[i + 2]</p>
                    <p class="price">$@ViewBag.MostHighlyRatedProducts[i + 3].00</p>
                </div>
            </div>
        }
    </div>
</div>

<div id="mostPurchasedProducts" class="product-container">
    <h1 style="text-align: center;">Most Purchased Products</h1>
    <div class="product-row">
        @for (int i = 0; i < ViewBag.MostPurchasedProducts.Count; i += 4)
        {
            <div class="product-box">
                <div class="image-container">
                    <img src="@ViewBag.MostPurchasedProducts[i]" />
                </div>
                <div class="product-details">
                    <p class="product-name">@ViewBag.MostPurchasedProducts[i + 2]</p>
                    <p class="price">$@ViewBag.MostPurchasedProducts[i + 3].00</p>
                </div>
            </div>
        }
    </div>
</div>



<vc:footer-types></vc:footer-types>

