@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity
@using System.Security.Principal
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@{
    string userRole = "Default"; // Default role

    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            userRole = "Admin"; // Set role to Admin if user is an admin
        }
        else if (User.IsInRole("Member") || User.IsInRole("User"))
        {
            userRole = "User"; // Set role to User if user is a member or user
        }
    }
}

<vc:nav-bar-types user="@userRole"></vc:nav-bar-types>


<div class="image-cont">
    <div class="image-wrapper">

        <img src="img/3-space (1).jpg" id="astro" alt="3 peeps" />
        <a asp-area="" asp-controller="Home" asp-action="ProductsPage">SHOP WITH US</a>
    </div>
</div>
<div id="yourTopPicks" class="product-container">
    <h1 style="text-align: center;">Your Top Picks</h1>
    <div class="product-row">
    @if (ViewBag.Recommendations != null)
        {
            var recommendationsList = ViewBag.Recommendations as List<Product>;
            foreach (var item in recommendationsList)
            {
                <div class="product-box">
                    <a href="@Url.Action("ProductDetail", "Home", new { id = item.ProductId })" class="product-box-link">
                        <div class="image-container">
                            <img src="@item.ImgLink" />
                        </div>
                        <div class="product-details">
                            <p class="product-name">@item.Name</p>
                            <p class="price">$@item.Price</p>
                            <p class="details">View Details</p>
                        </div>
                    </a>
                </div>
            }
        }
    </div>
</div>

<div id="mostHighlyRatedProducts" class="product-container">
    <h1 style="text-align: center;">Most Highly Rated Products</h1>
    <div class="product-row">
        @for (int i = 0; i < ViewBag.MostHighlyRatedProducts.Count; i += 4)
        {
            <div class="product-box">
                <a href="@Url.Action("ProductDetail", "Home", new { id = ViewBag.MostHighlyRatedProducts[i + 1] })" class="product-box-link">
                    <div class="image-container">
                        <img src="@ViewBag.MostHighlyRatedProducts[i]" />
                    </div>
                    <div class="product-details">
                        <p class="product-name">@ViewBag.MostHighlyRatedProducts[i + 2]</p>
                        <p class="price">$@ViewBag.MostHighlyRatedProducts[i + 3].00</p>
                        <p class="details">View Details</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>


<div id="mostPurchasedProducts" class="product-container">
    <h1 style="text-align: center;">Most Purchased Products</h1>
    <div class="product-row">
        @for (int i = 0; i < ViewBag.MostPurchasedProducts.Count; i += 4)
        {
            <div class="product-box">
                <a href="@Url.Action("ProductDetail", "Home", new { id = ViewBag.MostPurchasedProducts[i + 1] })" class="product-box-link">
                    <div class="image-container">
                        <img src="@ViewBag.MostPurchasedProducts[i]" />
                    </div>
                    <div class="product-details">
                        <p class="product-name">@ViewBag.MostPurchasedProducts[i + 2]</p>
                        <p class="price">$@ViewBag.MostPurchasedProducts[i + 3].00</p>
                        <p>View Details</p>
                    </div>
                </a>
            </div>
        }
    </div>
</div>





<vc:footer-types></vc:footer-types>

