@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity
@using System.Security.Principal
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    ViewData["Title"] = "Product List Page";
}

@{
    string userRole = "Default"; // Default role

    if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("Admin"))
        {
            userRole = "Admin"; // Set role to Admin if user is an admin
        }
        else if (User.IsInRole("Member") || User.IsInRole("User"))
        {
            userRole = "User"; // Set role to User if user is a member or user
        }
    }
}

<vc:nav-bar-types user="@userRole"></vc:nav-bar-types>
@model List<Product>


<div class="admin-table">
    <h1 class="main-heading">Aurora Bricks Products</h1>

    <table class="table table-bordered">
        <thead class="fw-bold">
            <tr>
                <th>ProductId</th>
                <th>Name</th>
                <th>Year</th>
                <th>NumberOfParts</th>
                <th>Price</th>
                <th>ImageLink</th>
                <th>PrimaryColor</th>
                <th>SecondaryColor</th>
                <th>Description</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model)
            {
                @if (Model != null && Model.Any())
                {
                    <tr>
                        <td>@x.ProductId</td>
                        <td>@x.Name</td>
                        <td>@x.Year</td>
                        <td>@x.NumParts</td>
                        <td>@x.Price</td>
                        <td>
                            <div class="scrollable-vert">
                                <p>@x.ImgLink</p>
                            </div>
                        </td>
                        <td>@x.PrimaryColor</td>
                        <td>@x.SecondaryColor</td>
                        <td>
                            <div class="scrollable-box">
                                <p>@x.Description</p>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Home" asp-action="EditCustomer"
                               asp-route-id="@x.ProductId">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-dark" asp-controller="Home" asp-action="DeleteCustomer" asp-route-id="@x.ProductId"
                               style="color: white;">Delete</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<vc:footer-types></vc:footer-types>