@using Microsoft.AspNetCore.Identity
@using System.Security.Principal

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<nav class="nav-main">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/img/new-aur.png" alt="Logo" class="logo" id="logo">
    </a>
    <ul class="fade-in">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Secrets">Secrets</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="ProductsPage">Products</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="ProductsPage">Add</a></li>
        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="logout-btn">Logout</button>
            </form>
        </li>
    </ul>
    <div class="greeting @(ViewBag.TimeOfDay.ToLower())">
        @if (User.IsInRole("Admin"))
        {
            <h1>Good @ViewBag.TimeOfDay, Admin</h1>
        }
        else if (User.IsInRole("Manager") || User.IsInRole("Member"))
        {
            <h1>Good @ViewBag.TimeOfDay, @ViewBag.UserName.Split(" ")[0]</h1>
        }
        else
        {
            <h1>Good @ViewBag.TimeOfDay</h1>
        }

        @{
            // Construct the image source URL based on the time of day
            string imageFileName = "sky-" + ViewBag.TimeOfDay.ToLower() + ".png";
            string imageUrl = Url.Content("~/img/" + imageFileName);
        }

        <div class="greeting-image-container">
            <img src="@imageUrl" class="sky-img" id="iconf" />
        </div>
    </div>
</nav>

<script src="~/js/darkmode.js" asp-append-version="true"></script>
