@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* default *@

<nav class="nav-main">
    <a asp-area="" asp-controller="Home" asp-action="Index">
        <img src="~/img/new-aur.png" alt="Logo" class="logo">
    </a>
    <ul class="fade-in">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        
        <li><a asp-area="" asp-controller="Home" asp-action="ProductsPage">Shop</a></li>

        <li>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button class="logout-btn">Logout</button>
            </form>
        </li>

        <li><a href="/Cart">Cart</a></li>
    </ul>

@{
    string imageUrl = null; // Declare imageUrl variable outside the if block
}

<div class="greeting @(ViewBag.TimeOfDay?.ToLower())">
    @if (ViewBag.TimeOfDay != null)
    {
        <h1>Good @(ViewBag.TimeOfDay), @(ViewBag.UserName?.Split(" ")[0])</h1>
        {
            // Construct the image source URL based on the time of day
            string imageFileName = "sky-" + ViewBag.TimeOfDay.ToLower() + ".png";
            imageUrl = Url.Content("~/img/" + imageFileName); // Assign value to imageUrl
        }

        <div class="greeting-image-container">
            <img src="@imageUrl" class="sky-img" id="iconf" />
        </div>
    }
    else
    {
        <h1>Good day!</h1>
    }
</div>


</nav>



